.prepage-container {
  height: 100vh;
  width: 100vw;

  display: inline;
  justify-content: space-around;

}

.prepage-header {
  font-size: 3vw;

  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: last baseline;

}

.prepage-buttons {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.prepage-container button {
  width: 100px;
  height: 30px;
  background-color: transparent;
  font-weight: 600;
  color: rgb(39, 39, 39);


}

.special {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: blueviolet;
}

.special img {
  width: 250px;
  height: 330px;
  object-fit: cover;
  object-position: -40% 0;
}

.page-container {
  margin-top: 80px;

}

/*------------------------------------NAVBAR----------------------------------------*/
.navbar {
  background: rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.971);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 60px;
  transition: top 0.3s, height 0.3s, background 1s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.341);
}

.nav_img {
  width: auto;
  height: 60%;

}

.nav_title {
  margin-left: 30px;

}

.company {
  margin-left: 10px;
  font-size: 90%;
}

.navbar ul {
  max-width: 100%;
  width: 30vw;
  color: rgb(163, 228, 252);
  padding: 0;
  margin: 0;
  margin-right: 20px;
  list-style: none;
  display: flex;
  text-decoration: none;

  overflow-x: auto;
  justify-content: space-between;


}

.navbar li {

  margin: 0;
}

.navbar-buttons {
  font-size: 20px;
}

.navbar a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  padding: 0.25rem;
  align-items: center;
  font-size: 30px;
}

.navbar-button {
  color: gray;
}

/* Hamburger menu styles */
.hamburger-menu {
  display: none;
  cursor: pointer;
  margin-right: 20px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: rgb(163, 228, 252);

  margin: 5px 0;
  transition: 0.4s;
}

/* Active state for hamburger menu */
.bar.active:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.bar.active:nth-child(2) {
  opacity: 0;
}

.bar.active:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Change navbar background when ul is active */
.navbar:has(ul.active) {
  background: black;
}

/* Media query for smaller screens */
@media screen and (max-width: 1000px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background: black;
    width: 100%;
    height: auto;
    padding: 20px;
    z-index: 5;
    overflow-x: hidden;
    transition: display 0.5s ease-in;
  }

  .navbar li {
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    /* Adjust padding for better spacing */
  }

  .navbar ul.active {
    display: flex;
    justify-content: center;
  }

  .hamburger-menu {
    display: block;
  }
}


/*------------------------------------------DATA-------------------------------------*/
.data-page {
  width: 100vw;
  height: 100vh;
  background-color: white;

}

.navbarspace {
  width: 100vw;
  height: 8vh;
}

.dp {
  position: fixed;
}

.data-container {
  margin-left: 5vw;
  margin-right: 5vw;
  width: 90vw;

  max-height: 70vh;
  overflow-y: auto;
  border: 1px inset lightgray;
  box-sizing: border-box;
}

.data-container table {
  width: 100%;
  border-collapse: collapse;
}

.data-container th,
.data-container td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.data-container th {
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
}

.data-container tr:nth-child(even) {
  background-color: rgba(118, 218, 255, 0.255);
}

.main-page {
  top: 0px;
  bottom: 100vh;
}

/*------------------------------------Boxes View-------------------------------------*/
.test {

  width: 90vw;
  height: 80vh;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;

}

.test table {
  border-collapse: collapse;
}

.test th {
  background-color: black;
  color: white;
  padding: 5px;
}

.test tr {
  padding: 2px;

}



.view-boxes img {

  height: 200px;
  width: auto;

}

/*-----------------------------------Filters Container-------------------------------*/

.side-container {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  left: -400px;
  /* Adjust this value to the width of the container */
  width: 400px;
  /* Adjust this value to your desired width */
  height: 100vh;
  background-color: rgb(211, 211, 211);
  /* Background color for the container */
  color: black;
  /* Text color for contrast */
  padding: 0;
  /* Add padding for better text visibility */
  transition: left 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  /* Add this to handle overflow text */
}

.sidebar-contents {
  width: 100%;
  height: auto;
  display: inline;

}

.side-container.open {
  left: 0;
}

.side-container h1 {
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.filter-container {
  margin-left: 5vw;
  margin-right: 5vw;
  padding-top: 5vh;
  padding-bottom: 1vh;

  display: flex;
  justify-content: space-between;
}


.filter-container button {
  background-color: rgb(159, 159, 159);
  width: 200px;
  height: auto;
}

.search-container input {
  width: 30vw;

  height: 25px;
}

.applied-filters {
  margin: 10px;
  display: flex;

  width: 100%;
}

.applied-filters button {
  background-color: transparent;
  border-color: gray;
}

.page-control-container {
  margin-top: 20px;

  width: 95vw;
  display: flex;
  justify-content: right;
}

.page-edit-container {

  width: 200px;

}

.page-edit {

  display: flex;
  justify-content: space-evenly;
}

.page-number {

  display: flex;
  justify-content: center;
}

.filter-buttons {
  width: 100%;

}

.filter-buttons-space {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.confidence-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}


.applied-filter-container {
  height: 20px;
}


/*------------------------------------PREVIEW PAGE----------------------------------*/

.preview {
  background-color: white;
  margin-top: 15vh;
  margin-left: 10vw;
  width: 80vw;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.341);
  border-radius: 5px;
  padding: 10px;

}

.name-class {
  width: 100%;
  height: 10vh;
  padding: 10px;
  display: flex;
  /* Changed to flex for proper alignment */
  justify-content: space-between;
  /* Space out child elements */

  /* Optional: Add padding for better spacing */
  box-sizing: border-box;
  /* Ensure padding and border are included in the element's total width and height */
}

.name {
  width: 50%;
  height: 60px;
  display: flex;
  /* Complete border property */
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 25px;
  /* Optional: Set a background color for better visibility */
}

.classification {
  width: 50%;
  height: 10vh;


  display: flex;
  justify-content: center;

  font-size: 30px;
  text-transform: uppercase;
}

.classification p {
  width: 100%;
  height: 85%;
  display: flex;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  font-size: 70px;
}



.image-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: 20px;
  justify-content: center;
}

.image-container img {
  height: 40vh;
  width: auto;
}

.preview-info {
  display: flex;
  justify-content: space-around;
}

.questions {
  width: 35%;
  padding: 20px;
  display: inline;
  justify-content: center;
  border: 1px solid rgba(128, 128, 128, 0.335);
}

.questions div {
  width: 100%;
  padding: 5px;
  font-size: 25px;
}

.divider {
  font-weight: 50;
  font-style: normal;
}



.comments {
  height: auto;
  padding: 20px;
  display: inline;
  justify-content: center;
}

.comment {
  background-color: whitesmoke;
  margin: 5px;
  margin-top: 0;
  display: flex;
  justify-content: space-between;

}

.comment-info {
  width: 90%;
}

.comment-username {
  font-size: Larger;
  font-weight: 700;
  padding: 10px;
}

.comment-body {
  margin: 40px;
  margin-bottom: 0px;
  margin-top: 10px;
  padding-bottom: 20px;

}

.comment-vote {

  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vote-button {
  display: inline;
  font-size: 20px;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
}

.upvote {
  color: green;


}

.downvote {
  color: red;
  transform: rotate(180deg);
}

.tags {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.tag {
  border: 1px solid rgb(118, 218, 255);
  padding: 20px;
  border-radius: 20px;
}

.home {
  display: flex;
}

.home-search {
  width: 50vw;
  height: 80vh;
  position: fixed;
  margin-top: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-search-buttons {
  display: inline;
}

.search-button {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: center;
}


/*----------------------------------------CLASSIFY----------------------------------------------------------*/
.classify-page {
  display: flex;
  position: fixed;
  bottom: 0;
}

.classify-container {
  width: 60vw;
  height: 80vh;


}

.draggable {
  display: inline-block;
  user-select: none;
  position: absolute;
}

.burst-container {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;


}


.drag-container {
  width: auto;
  height: 200px;

  padding: 2px;
  background-color: rgb(118, 218, 255);
}

.drag-container img {
  height: 100%;
  width: auto;
}

.classify-buttons {
  width: 100%;


  display: flex;
  justify-content: space-around;
  align-items: center;
}

.classify-buttons button {
  width: 100px;
  height: 40px;
}

.comments-container {

  width: 40vw;
  height: 90vh;

}

.thread {
  height: 70vh;
  overflow-y: scroll;

}

.comment-box-container {
  height: 10vh;
  width: 95%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.withpost {
  width: 70%;
  height: 90%;
  background-color: blue;
  display: inline;
  justify-content: center;
}

.withpost textarea {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.download-filter-container {
  width: 100vw;
  height: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.download-filter {
  display: inline;
}

.download-filter div {
  padding: 5px;
}

.download-preview-container {
  width: 100vw;
  display: flex;
  justify-content: center;

}

.download-preview-buttons {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.post-feed {
  position: fixed;
  width: 50%;
  height: 90vh;

  bottom: 0;
  right: 0;
  background-color: whitesmoke;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.341);

}

.post-container {
  width: 90%;
  height: auto;

  justify-content: inline;
}

.post {
  position: relative;

  height: auto;
  aspect-ratio: 1/0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

}

.post img {
  width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.341);

}

.post-comment {
  background-color: lightgray;

  border-radius: 2px;
  width: 70%;
  height: auto;
  padding: 5px;
  padding-bottom: 10px;
  text-decoration: none;
  color: black;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: small;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.341);
}

.post-comment-username {
  font-weight: 1000;
  padding: 5px;
  font-size: 120%;
}

.post-comment-body {
  font-size: 80%;
  padding-left: 20px;


}


.footer {
  width: 100vw;
  background-color: black;
  color: white;
  overscroll-behavior: none;
}

.footerimage {


  margin-left: 10px;

}

.footerimage img {
  width: 50px;

  margin-top: 5px;
  height: auto;
}

.footer-options {
  margin-left: 100px;
  margin-right: 100px;
  width: 40vw;
  display: flex;
  justify-content: space-between;
}

.footer-options p {
  margin: 10px;
}

.options-head {

  width: 250px;
}

.options-head p {
  color: gray;
}

.footer-text {
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
}

.footer-text h1 {
  margin-top: 10px;
  margin-bottom: 10px;

}





.slide {
  width: 100vw;
  height: 100vh;
  background-image: url('/StarySky.jpeg');
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.341);

}

.info-slide {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100vw;
  background-color: white;


}

.welcome {

  font-size: 30px;
  display: inline;

}

.welcomeButton {
  padding: 20px;
  width: 120%;


  display: flex;
  justify-self: center;
  justify-content: center;
}

.welcomeButton button {
  background-color: rgba(0, 0, 0, 0.571);
  border-color: black;
  color: rgb(163, 228, 252);
  box-shadow: 0 0px 10px rgb(163, 228, 252);
  width: 30%;
  height: 20%;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 600;
}

.welcomeButton button:hover {

  box-shadow: 0 0px 0px rgb(163, 228, 252);
  transition: 0.8s;
}

.writing {
  width: 40vw;


  font-size: x-large;
}

.what {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.visual {

  width: auto;
  height: 300px;

  margin: 30px;

  display: flex;
  align-items: center;
  justify-content: space-around;

}