:root {
  font-family: sans-serif;
  background-color: rgba(79, 79, 79, 0.559);
}

* {
  margin: 0;
  padding: 0;
}

button {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(95, 95, 95);

}

button:hover {
  border: 1px solid rgb(118, 218, 255);
}